option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: fungiidentifier11.wsgi:application
        NumProcesses: 3
        NumThreads: 20
    aws:elasticbeanstalk:environment:proxy:staticfiles:
        /static: static
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: fungiidentifier11.settings
        PYTHONPATH: "/var/app/current:"
        RDS_HOSTNAME: fungi6.c0pa29lzssac.eu-west-2.rds.amazonaws.com
        RDS_USERNAME: ben
        RDS_PASSWORD: laffite1993
        RDS_DB_NAME: Fungi
        RDS_PORT: 3306
