option_settings:
  aws:elbv2:listener:443:
    SSLCertificateArns: arn:aws:acm:eu-west-2:800638018207:certificate/8a8c18f6-8090-45f7-aaa3-bfa8818d8e03
    Protocol: HTTPS

Resources:
    AWSEBV2LoadBalancerListener:
      Type: 'AWS::ElasticLoadBalancingV2::Listener'
      Properties:
        LoadBalancerArn: { "Ref" : "AWSEBV2LoadBalancer" }
        DefaultActions:
          - RedirectConfig:
              Port: 443
              Protocol: HTTPS
              StatusCode: HTTP_301
            Type: redirect
        Port: 80
        Protocol: HTTP 
