{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'fungi_css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fungi_css/main.css' %}">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'fungi_css/styles.css' %}">
    <link rel="stylesheet" href="styles.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
    $(document).ready(function(){
      $(".hamburger").click(function(){
        $(".wrapper").toggleClass("active")
      })
    });
  </script>
</head>
<body>
  
<div class="wrapper hover_collapse">
  <div class="top_navbar">
    <!--<div class="logo">Coding<span>Market</span></div>-->
    <div class="logo">
      <span>
    <h2 style="color:black;"> Fungi Finder </h2> 
      </span>
    </div>
{% block header %}{% endblock header %}
    <div class="menu">
      <div class="hamburger">
        <i class="fas fa-bars"></i>
      </div>
      <div class="profile_wrap">
        <div class="profile">
          
          <span class="name">{{user.username}}</span>
          <span class="icon">
            <i class="fas fa-angle-down"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="sidebar">
    <div class="sidebar_inner">
    <ul>
      <li>
        <a href="{% url 'AllFungi-HomePage' %}">
          <span><img src="/media/images/home-2483.png">Home</span>
          <span class="text">Home</span>
        </a>
      </li>
      <li>

      <li>
        <a href="{% url 'register' %}">
          <span><img src="/media/images/check-mark-3280.png"></span>
          <span class="text">Register</span>
        </a>
      </li>

      <li>
        <a href="{% url 'AllFungiList' %}">
          <span><img src="/media/images/mushroom-2339.png"></span>
          <span class="text">Settings</span>
        </a>
      </li>

      <li>
        <a href="{% url 'search-fungi' %}">
          <span><img src="/media/images/search-8909.png"></span>
          <span class="text">Settings</span>
        </a>
      </li>

      <li>
        <a href="{% url 'profile' %}">
          <span><img src="/media/images/user-3297.png"></span>
          <span class="text">Settings</span>
        </a>
      </li>

      <li>
        <a href="{% url 'Links-Page' %}">
          <span><img src="/media/images/link-chain-10475.png"></span>
          <span class="text">Settings</span>
        </a>
      </li>

      <li>
        <a href="{% url 'usersettings:Filter-HomePage' %}">
          <span><img src="/media/images/settings-778.png"></span>
          <span class="text">Settings</span>
        </a>
      </li>

      <li>
        <a href="{% url 'logout' %}">
          <span><img src="/media/images/exit-logout-2861.png"></span>
          <span class="text">Settings</span>
        </a>
      </li>

       <li>
        <a href="{% url 'login' %}">
          <span><img src="/media/images/house-4280.png"></span>
          <span class="text">About</span>
        </a>
      </li>

       <li>
        <a href="{% url 'AllFungi-AboutPage' %}">
          <span><img src="/media/images/information-1154.png"></span>
          <span class="text">About</span>
        </a>
      </li>

    </ul>
    </div>
  </div>

  <div class="main_container">
    <div class="container">
    </div>
  </div>
</div>


    <main role="main" class="container">    
      <div class="row">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}"></div>
                {% endfor %}
            {% endif %}
            
          {% block content %}{% endblock content %}
          {% block filters %}{% endblock filters %}
          {% block filterSettingsBlock %}{% endblock filterSettingsBlock %}
          {% block search_results %}{% endblock search_results %}
          {% block search2 %}{% endblock search2 %}

        </div>     

        <div class="col-md-4">
          <div class="content-section-nb">           
              {% block Netlinks%}
              {% endblock Netlinks%} 
              {% block search %}
              {% endblock search%}
          </div>
          <div>
              {% block picture %}
              {% endblock picture%}
           </div> 
        </div>

       </div>
    </main>






     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 



<!-- <script src= "{% static 'fungi_css/styles.css' %}"></script> -->

</body>
</html>							