{% extends "base.html" %}
	{% block content %}
		<h1>Settings</h1>
    {% for show in shows %}
      {% if show.user.id == user.id %}
                <article class="media content-section">
                  <div class="media-body">

                    <div class="article-metadata">
                      <h2>
                          <button type="button" class="btn btn-outline-warning">
                            <span style="font-size:30px;"><a href="{% url 'usersettings:user_groups_edit' user.id %}">Choose fungi groups(s)</a></span>
                          </button>
                      </h2>
                    </div>

                    <div class="article-metadata">
                      <h2>
                          <button type="button" class="btn btn-outline-warning">
                            <span style="font-size:30px;"><a href="{% url 'usersettings:edit-show-filter' show.id %}">Choose details to show</a></span>
                          </button>
                      </h2>
                    </div>

                    <div class="article-metadata">
                      <h2>
                          <button type="button" class="btn btn-outline-warning">
                            <span style="font-size:30px;"><a href="{% url 'usersettings:edit-search-fields' show.id %}">Choose search fields</a></span>
                          </button>
                      </h2>
                    </div>     
                    {% if request.user.is_superuser %}
                    <div class="article-metadata">
                      <h2>
                          <button type="button" class="btn btn-outline-warning">
                            <span style="font-size:30px;"><a href="{% url 'usersettings:set_modes' show.id %}">Set Modes</a></span>
                          </button>
                      </h2>
                    </div>
                    {% endif %}               




                      </h2>
                    </div>
                  </div>
                </article>
      {% endif %}                
		{% endfor %}
{% endblock content %}
