{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block header %}
  <h1 style="color:white;">
    {% if CulinaryRating == "Deadly" or  CulinaryRating == "dangerous" %}
        <img src= "/media/images/icons8-skull-and-crossbones-48.png"> 
    {% endif %}
    {% if user.show.ShowLatinNames %}
            {{fungi.CommonName}}, <em>{{fungi.LatinName}}</em>, id: {{fungi.id}}
    {% else %}
            {{fungi.CommonName}}
    {% endif %}
    {% if fungi.UKSpecies == "Yes"%}
        <img src= "/media/images/pngfind.com-english-flag-png-6458760.png">
    {% endif %}

  </h1>
{% endblock header %}
{% block netlinksblock %}

  <form action="" method="post" enctype="multipart/form-data">

    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field.errors }}
      {{ hidden_field }}
    {% endfor %}

    {% csrf_token %}

    {{ form.management_form }}
    {{ form.non_form_errors }}
    <div class="detail">
      <h3>
      <legend class="sub-content" >NetLinks - edit/add</legend>
     </h3>
    {% for netlinks in form.forms %}
      <hr>
      <h5>
        {% if netlinks.instance.id %}
          
        {% else %}
          {% if form.forms|length > 1 %}
            Add another NetLink
          {% else %}
            Add a NetLink
          {% endif %}
        {% endif %}
      </h5>
      {% for hidden_field in netlinks.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
      {% endfor %}
      {{ netlinks.non_field_errors }}
      <div class="sub-content" >
            <h4>
              <div class="form-row">
                  <div class="form-group col-md-3 mb-0">
                      {{ netlinks.Website|as_crispy_field }}
                  </div>
                  <div class="form-group col-md-9 mb-0">
                      {{ netlinks.Websiteurl|as_crispy_field }}
                  </div>
              </div>
            </h4>
      </div>
    {% endfor %}
    <p>
      <button type="submit"  class="btn btn-success">Update NetLinks</button>
      <a href="{% url 'fungi_netlinks_del' object.id %}"  class="btn btn-warning">Delete NetLinks</a>
      <a href="{{ fungi.get_absolute_url  }}" role="button" class="btn btn-success">Cancel</a>
    </p>

  </div>
  </form>

{% endblock netlinksblock %}