{% extends "base.html" %}
{% block linkpage %}
<head>
	<h1>Links Page</h1>
	<h3>
    <article><a href=http://mapapps2.bgs.ac.uk/ukso/home.html target="_blank">UKSO</a></article>
	<article><a href=https://explorer.geowessex.com/?layers=48,2425&x=375650.85&y=97324.02&epsg=27700& target="_blank">Dorset Rights of Way </a></article>
	<article><a href=https://learnyourland.com/this-edible-mushroom-grows-in-human-bodies/ target="_blank">Edible mushroom grows in human bodies </a></article>
	</h3>


	<h1>Books</h1>
	<h3>
	<article><a href=https://www.bookfinder.com/author/tanja-bohning/ target="_blank">Mushrooms & Toadstools of Britain & Europe</a></article>
	<p>https://www.bookfinder.com/author/tanja-bohning</p> 
	
	<article><a href=https://harpercollins.co.uk/products/collins-complete-british-mushrooms-and-toadstools-the-essential-photograph-guide-to-britains-fungi-paul-sterrybarry-hughes?variant=32553354362958/ target="_blank">Collins Complete 
	Guide to British Mushrooms and Toadstools</a></article>
	<p>https://harpercollins.co.uk/products/collins-complete-british-mushrooms-and-toadstools-the-essential-photograph-guide-to-britains-fungi-paul-sterrybarry-hughes?variant=32553354362958</p>
	
	<article><a href=https://harpercollins.co.uk/products/collins-mushroom-miscellany-patrick-harding?variant=32556679561294 target="_blank">Mushroom Miscellany</a></article>
	<p>https://harpercollins.co.uk/products/collins-mushroom-miscellany-patrick-harding?variant=32556679561294</p>
	</h3>

	<h1>Resources</h1>
	<h3>
	<article><a href=https://icons8.com target="_blank">Skull & Cross bones and mushroom icon</a></article> 
	</h3> 
</head>
{% endblock linkpage %}
